* {
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}

body {
    display: block;
    /*margin: 20px;*/
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.principal {
    display: block;
    padding: 1px;
    margin: 1px;
    margin-top: -75px;
    margin-right: 0px;
    margin-bottom: -85px;
    margin-left: -12px;
    border: 1px;
    width: 101.4%;
}

header {
    text-align: center;
}

.menu ul {
    float: left;
    position: relative;
    border-width: 1px;
    border-radius: 20px;
    border-style: outset;
    background-color: rgba(69, 89, 105, 0.5);
    width: 20%;
    left: -30px;
    top: 1px;
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
    padding: 10.5px 11px;
    background-color: whitesmoke;
    display: block;
}

.menu ul li a:visited {
    color: black;
}

.menu ul li a:hover, .menu ul li .current {
    color: black;
    background-color: orangered;
}

#menu2 ul {
    float: left;
    position: relative;
    width: 200px;
    left: 10px;
    top: 1px;
    list-style-type: none;
}

#menu2 ul li a {
    text-decoration: none;
    padding: 10.5px 11px;
    background-color: whitesmoke;
    display: block;
}

#menu2 ul li a:visited {
    color: black;
}

#menu2 ul li a:hover, .menu ul li .current {
    color: black;
    background-color: orangered;
}

.contenido, article {
    /*float: center;*/
    background: beige;
    display: block;
    width: 63%;
    margin-left: 19.5%;
    margin-right: 17%;
}

section {
    margin-top: -31px;
}

#lateral {
    float: right;
    /*position: relative;*/
    width: 20%;
    margin-right: -3%;
    margin-top: -48px;
}

body p {
    text-align: justify;
}

footer {
    clear: both;
    color: white;
    background: black;
    text-align: center;
    width: 99.4%;
}

h1 {
    color: red;
}

h2 {
    color: chocolate;
}

h3 {
    color: aqua;
}