* {
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}

body {
    display: block;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

header {
    text-align: center;
}

.principal {
    display: block;
    padding: 1px;
    margin: 1px;
    margin-top: -75px;
    margin-right: 0px;
    margin-bottom: -85px;
    margin-left: -12px;
    border: 1px;
    width: 101.4%;
}

.menu ul {
    float: left;
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-radius: 20px;
    border-style: outset;
    background-color: rgba(69, 89, 105, 0.5);
    margin-top: 37px;
    margin-left: -21px;
    width: 20%;
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
    padding: 10.5px 11px;
    background-color: whitesmoke;
    display: block;
}

.menu ul li a:visited {
    color: black;
}

.menu ul li a:hover, .menu ul li .current {
    color: black;
    background-color: orangered;
}

body .contenido{
    float: right;
    margin-bottom: 25px;
    width: 80%;
    background: beige;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

body p {
    text-align: justify;
}

footer {
    clear: both;
    color: white;
    background: black;
    text-align: center;
    width: 99.4%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}