
h1 {
    color: orangered;
    text-align: center;
}

img {
    display:block;
    margin:auto;
}

iframe {
    display: block;
    margin: auto;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
    padding: 0;
    glyph-orientation-horizontal: 0grad;
}


